*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
.navigation/
*.hprof
gradlew
gradlew.bat
